[Unit]
Description=Redfish Daemon for Proxmox VM Control
After=network.target

[Service]
Environment="PROXMOX_HOST="
Environment="PROXMOX_USER="
Environment="PROXMOX_PASSWORD="
Environment="PROXMOX_NODE="
Environment="REDFISH_LOGGING_ENABLED=False"
ExecStart=/opt/redfish_daemon/venv/bin/python /opt/redfish_daemon/redfish-proxmox.py -A None
WorkingDirectory=/opt/redfish_daemon
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
